# Docker/PostgreSQL
POSTGRES_DB=pismquest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# Spring Boot datasource
DB_URL=jdbc:postgresql://localhost:5432/pismquest
DB_USERNAME=postgres
DB_PASSWORD=change_me
